$light: 100;
$regular: 400;
$medium: 600;

$h1: $light;
$h2: $light;
$h3: $regular;
$h4: $regular;
$h5: $regular;
$h6: $medium;
$title: bold;
$subtitle: $medium;
$heading: $medium;
$sub-heading: $medium;
$normal-text: $regular;
$button-large: $medium;
$button-medium: $medium;
$button-small: $medium;
$caption: $regular;
$overline: $regular;
$avatar-letter: $regular;
$input-label: $regular;
$helper-text: $regular;
$input-text: $regular;
$tooltip: $medium;
