$h1: 96px;
$h2: 60px;
$h3: 48px;
$h4: 34px;
$h5: 24px;
$h6: 20px;
$title: 46px;
$subtitle: 36px;
$heading: 46px;
$sub-heading: 16px;
$normal-text: 18px;
$button-large: 15px;
$button-medium: 14px;
$button-small: 13px;
$caption: 12px;
$overline: 12px;
$avatar-letter: 20px;
$input-label: 12px;
$helper-text: 12px;
$input-text: 16px;
$tooltip: 10px;
