$h1: -1.5px;
$h2: -0.5px;
$h3: 0px;
$h4: 0.25px;
$h5: 0px;
$h6: 0.15px;
$title: 56px;
$subtitle: 43px;
$heading: 56px;
$sub-heading: 25px;
$normal-text: 32px;
$button-large: 0.46px;
$button-medium: 0.4px;
$button-small: 0.46px;
$caption: 0.4px;
$overline: 1px;
$avatar-letter: 0.14px;
$input-label: 0.15px;
$helper-text: 0.4px;
$input-text: 0.15px;
$tooltip: 0px;
