<div class="dashboard">
    <div class="dashboard__welcome">
        <h1 class="dashboard__welcome--title">Hola, {{ nombre }}</h1>
        <p class="dashboard__welcome--subtitle">{{ rolLabel }}</p>
    </div>

    <div class="dashboard__stats">
        <div class="dashboard__card" *ngIf="tieneUsuarios && !isLoadingUsuarios">
            <mat-icon class="dashboard__card--icon">group</mat-icon>
            <div>
                <p class="dashboard__card--label">Usuarios</p>
                <p class="dashboard__card--value">{{ totalUsuarios }}</p>
            </div>
        </div>
        <app-skeleton-card *ngIf="tieneUsuarios && isLoadingUsuarios"></app-skeleton-card>

        <div class="dashboard__card" *ngIf="!isLoadingDiagnosticos">
            <mat-icon class="dashboard__card--icon">biotech</mat-icon>
            <div>
                <p class="dashboard__card--label">Diagnósticos</p>
                <p class="dashboard__card--value">{{ canViewAllHistory ? totalDiagnosticos : misDiagnosticos }}</p>
            </div>
        </div>
        <app-skeleton-card *ngIf="isLoadingDiagnosticos"></app-skeleton-card>
    </div>

    <div class="dashboard__quick">
        <h2 class="dashboard__quick--title">Accesos rápidos</h2>
        <div class="dashboard__quick--grid">
            <a class="dashboard__quick--card"
               *ngFor="let menu of menus"
               [routerLink]="menu.path">
                <mat-icon *ngIf="menu.icon">{{ menu.icon }}</mat-icon>
                <span>{{ menu.title }}</span>
            </a>
        </div>
    </div>
</div>
